.dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 0rem 2rem;
    box-sizing: border-box;
    height: calc(100vh - 10px - 6rem); /* example: viewport minus total padding/margin */
    overflow: hidden;
}

.header-wrapper {
    margin-bottom: 1rem;
}

.cards-wrapper {
    margin-bottom: 1rem;
}

.projects-wrapper {
    margin-bottom: 1rem;
    flex: 0 1 30%;
    min-height: 0;
    display: flex;
    overflow: hidden;
}

.bottom-row {
    flex: 1;
    display: flex;
    gap: 1rem;
    overflow: hidden;  
}

.tasks-wrapper {
  flex: 2;
  padding: 1.5rem;
  background-color: var(--card-bg);
  border: 1px solid var(--stroke-light);
  border-radius: 0.5rem;
}

.notes-wrapper {
  flex: 1;
  padding: 1.5rem;
  background-color: var(--card-bg);
  border: 1px solid var(--stroke-light);
  border-radius: 0.5rem;
}