.layout-wrapper {
  display: flex; /* Use flex for sidebar + main content */
  min-height: 100vh;
  overflow: hidden;
}

.main-content-container {
  flex: 1;
  display: flex;
  flex-direction: column; /* Topbar on top, content below */
  transition: flex 0.3s ease;
}
