/* Dosis weights */
@import "@fontsource/dosis/200.css";
@import "@fontsource/dosis/300.css";
@import "@fontsource/dosis/400.css";
@import "@fontsource/dosis/500.css";
@import "@fontsource/dosis/600.css";
@import "@fontsource/dosis/700.css";

/* Quicksand weights */
@import "@fontsource/quicksand/300.css";
@import "@fontsource/quicksand/400.css";
@import "@fontsource/quicksand/500.css";
@import "@fontsource/quicksand/600.css";
@import "@fontsource/quicksand/700.css";

:root {
  /* Font families */
  --font-title: "Dosis", sans-serif;
  --font-subtitle: "Quicksand", sans-serif;

  /* Font weights - Dosis */
  --dosis-200: 200;
  --dosis-300: 300;
  --dosis-400: 400;
  --dosis-500: 500;
  --dosis-600: 600;
  --dosis-700: 700;

  /* Font weights - Quicksand */
  --quicksand-300: 300;
  --quicksand-400: 400;
  --quicksand-500: 500;
  --quicksand-600: 600;
  --quicksand-700: 700;

  /* SPACING SYSTEM */
  --space-xs: 0.5rem;    /* 8px */
  --space-sm: 0.75rem;   /* 12px */
  --space-md: 1rem;      /* 16px */
  --space-lg: 1.5rem;    /* 24px */
  --space-xl: 2rem;      /* 32px */

  /* BORDER RADIUS  */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 16px;

  /* FONT SIZES */
  --font-xs: 0.75rem;   /* 12px */
  --font-sm: 0.875rem;  /* 14px */
  --font-md: 1rem;      /* 16px */
  --font-ml: 1.25rem;
  --font-lg: 2.5rem;    /* 40px */

  /* SHADOW */
  --shadow-light: 0 4px 12px var(--shadow);

  /* WIDTHS */
  --container-max: 350px;
  --avatar-size: 100px;

  /* MARGINS (commonly used) */
  --margin-xs: -4px;
  --margin-sm: 5px;
  --margin-md: 10px;
  --margin-lg: 24px;
  --margin-xl: 150px;

  /* PADDINGS  */
  --padding-sm: 0.75rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;


}

/* Classname font structures*/
/* .title-light {
  font-family: var(--font-title);
  font-weight: var(--dosis-200);
}

.title-regular {
  font-family: var(--font-title);
  font-weight: var(--dosis-400);
}

.title-semibold {
  font-family: var(--font-title);
  font-weight: var(--dosis-600);
}

.title-bold {
  font-family: var(--font-title);
  font-weight: var(--dosis-700);
} */

/* Subtitles / Body */
/* .subtitle-light {
  font-family: var(--font-subtitle);
  font-weight: var(--quicksand-300);
}

.subtitle-regular {
  font-family: var(--font-subtitle);
  font-weight: var(--quicksand-400);
}

.subtitle-medium {
  font-family: var(--font-subtitle);
  font-weight: var(--quicksand-500);
}

.subtitle-semibold {
  font-family: var(--font-subtitle);
  font-weight: var(--quicksand-600);
}

.subtitle-bold {
  font-family: var(--font-subtitle);
  font-weight: var(--quicksand-700);
} */